
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1483361362016'); /* IE9*/
  src: url('iconfont.eot?t=1483361362016#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1483361362016') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1483361362016') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1483361362016#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  display: inline-block;
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.if-main{
  color: #e74430;
}
.if-3x{
  font-size: 3em;
}
.if-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


.icon-5icon:before { content: "\e62e"; }

.icon-loading:before { content: "\e602"; }

.brand:before{
  font-family:"iconfont" !important;
  content: "\e62e";
  clear: both;
}


.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to
  /* .list-leave-active for <2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}