@import "var";
#bar {
  z-index: 5;
  position: absolute;
  box-sizing: border-box;
  border-right: 10px solid #fff;
  border-left: 10px solid #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: lighten($main-color,20%);
  transition: all 1s ease;
}