#posts {
  text-align: center;

  & > .post {
    text-align: left;
    cursor: pointer;
    position: relative;
    padding: 20px 10px;
    display: block;

    &:first-child {
      @media (max-width: 800px) {
        margin-top: 30px;
      }

      margin-top: 50px;
    }

    &:hover {
      background: #f6f7f7;
    }

    div {
      position: absolute;
      right: 10px;
      top: 23px;

      @media (max-width: 800px) {
        display: none;
      }
    }

    span {
      --lightness-threshold: 0.453;
      --border-threshold: 0.96;
      --border-alpha: max(0,min(calc((var(--perceived-lightness) - var(--border-threshold))*100),1));
      margin: 0 3px;
      font-size: 13px;
      border: 1px solid #e1e1e1;
      border-radius: 3px;
      padding: 1px 6px 3px;
      --perceived-lightness: calc((var(--label-r)*0.2126 + var(--label-g)*0.7152 + var(--label-b)*0.0722)/255);
      --lightness-switch: max(0,min(calc((var(--perceived-lightness) - var(--lightness-threshold))*-1000),1));
      background: rgb(var(--label-r),var(--label-g),var(--label-b));
      color: hsl(0,0%,calc(var(--lightness-switch)*100%));
    }
  }

  & > .button {
    display: inline-block;
    width: 100px;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
  }

  p {
    @media (max-width: 800px) {
      font-size: 13px;
    }

    font-size: 14px;
    color: #788590;
    margin: 14px 0 0 1px;
  }

  h2 {
    @media (max-width: 800px) {
      font-size: 15px;
    }

    color: #485763;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (max-width: 800px) {
      width: 100%;
    }
  }
}
