.toc {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  //height: calc(100vh - 4rem);
  overflow-y: auto;
}

.toc > .toc-list {
  overflow: hidden;
  position: relative;

  li {
    list-style: none;
  }
}

.toc-list {
  margin: 0;
  padding-left: 10px;
}

a.toc-link {
  color: currentColor;
  height: 100%;
}

.is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.is-collapsed {
  max-height: 0;
}

.is-position-fixed {

}

.is-active-link {
  font-weight: 700;
}

.toc-link::before {
  background-color: #EEE;
  content: ' ';
  display: inline-block;
  height: inherit;
  left: 0;
  margin-top: -1px;
  position: absolute;
  width: 2px;
}

.is-active-link::before {
  background-color: #e36209;
}

.toc-icon {
  position: fixed;
  top: 0;
  right: 0;
}

#toc:checked ~ .toc {
  box-shadow: 0 0 5px rgba(200, 200, 200, 1);
  transform: translateX(0);
}

// Responsive overrides.
.toc {
  background-color: hsla(200, 100%, 100%, 0.9);
  transform: translateX(-100%);

  &.toc-right {
    transform: translateX(100%);
    right: 0;
  }
}

// 52em
@media (min-width: 52em) {
  .toc {
    transform: translateX(0);

    &.toc-right {
      transform: translateX(0);
      right: calc((100% - 48rem - 4rem) / 2);
    }
  }

  .toc-icon {
    display: none;
  }

  .try-it-container {
    display: block;
  }

  .content {
    margin-left: 280px;
  }
  .toc-right ~ .content {
    margin-left: 0;
    margin-right: 280px;
  }
}
